@use "../abstracts/variables" as v;


@mixin respond($breakpoint) {
    @if $breakpoint == bp-sm{
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == bp-md {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == bp-lg {
        @media only screen and (max-width: 62.5em) { @content };    //1000px
    }
    @if $breakpoint == bp-xl {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == bp-xxl{
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

@mixin padVertMd {
  padding-top: 8%;
  padding-bottom: 8%;

  // @include respond(bp-md) {
  //   padding-top: 5%;
  //   padding-bottom: 5%;
  // }
}

@mixin padVertLg {
  padding-top: 10%;
  padding-bottom: 10%;

  // @include respond(bp-md) {
  //   padding-top: 5%;
  //   padding-bottom: 5%;
  // }
}

@mixin center80 {
  width: 80%;
  margin: auto;
}

@mixin stackEm {
  grid-template-columns: 1fr;
  // row-gap: v.$row-gap-xl;
}

@mixin sunnyB {
  // background-image: linear-gradient(rgba(v.$color-white, .85), rgba(v.$color-white, .85)), url("../images/rays-bg.png");
  background-image: url("../images/rays-bg-2.png");
  background-repeat: no-repeat;
  background-size: 70%;
}
