
$color-primary-1: #006D6D;
$color-primary-2: #005151;
$color-primary-3: #002222;
$color-primary-4: #269090;

$color-secondary-1: #FCC315;
$color-secondary-2: #F7961E;
$color-secondary-3: #A15700;
$color-secondary-4: #FFDB6E;

$color-blue-1: #215387;
$color-blue-2: #001E6C;
$color-blue-3: #474FB4;
// $color-blue-lighter: #a7bfff;

$color-black: #000;

$color-black-1: #181818;
$color-grey-dark: #303030;
$color-grey-medium: #606060;
$color-grey-light: #bebebe;
$color-grey-lighter: #eee;

$color-white: #fff;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;      // 1200px
$bp-large: 62.5em;      // 1000px
$bp-medium: 50em;       // 800px
$bp-small: 37.5em;      // 600
$bp-xs: 31.25em;        // 500px

// FONTS
$font-primary: sans-serif;
$font-display: serif;
$default-font-size: 1.8rem;
