@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  font-size: 1.4rem;
  background-color: v.$color-grey-dark;
  display: grid;
  @include m.padVertMd;

  &__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: v.$color-white;
    column-gap: v.$col-gap-md;
    row-gap: v.$row-gap-sm;

    @include m.respond(bp-lg) {
      grid-template-columns: 1fr max-content max-content;
    }

    @include m.respond(bp-sm) {
      @include m.stackEm;
    }
  }

  &__logo-img {
    max-height: 10rem;
    // align-self: center;
  }

  &__box {
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: v.$col-gap-md;
    row-gap: v.$row-gap-sm;

    @include m.respond(bp-lg) {
      grid-template-columns: 1fr;
    }
  }

  &__name {
    font-size: 2.5rem;
  }

  &__address {
    & span {
      display: block;
    }
  }

  &__email {
    &,
    &:link,
    &:visited {
      color: v.$color-white;
      font-size: 2rem;
      transition: all 0.2s;
      display: inline-block;
    }

    &:hover {
      color: v.$color-grey-light;
      transform: translateY(-2px);
    }

    @include m.respond(bp-lg) {
      grid-row: 1 / span 1;
    }
  }

  &__btn {
    justify-self: end;
    align-self: start;
  }

  &__bottom {
    grid-column: v.$fullGrid;
    margin-top: 5rem;
    justify-self: center;
  }
}
