@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  &__top {
    width: 100%;
    padding: 1.5rem 3.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    // position: fixed;
    top: 0;
  }

  &__branding {
    height: 7rem;
    @include m.respond(bp-md) {
      height: 5rem;
    }
  }

  &__home-link {
    height: 100%;
  }

  &__logo {
    height: 100%;
  }

  &__nav {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 4rem;
    padding-top: 1rem;
  }

  &__hero {
    height: 100vh;
    padding: 20rem 0;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    row-gap: 2rem;

    &__title {
      align-self: end;
      text-shadow: 0 0.5rem 1rem rgba(v.$color-secondary-light,.3);
      grid-column: center-start / center-end;
      @include m.respond(bp-md) {
        text-align: center;
      }
    }

    &__tagline {
      text-shadow: 0 0.5rem 1rem rgba(v.$color-secondary-light,.3);
      grid-column: center-start / center-end;
      @include m.respond(bp-md) {
        text-align: center;
      }
    }

    &__btn {
      margin-top: 5rem;
      grid-column: center-start / center-end;
      justify-self: start;
      @include m.respond(bp-md) {
        justify-self: center;
      }
    }
  }
}

.sticky {
  position: fixed;
  background-color: rgba(v.$color-grey-dark, .95);
  z-index: 100;
}
