@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.home-container {
  display: grid;
  grid-template-columns: v.$grid-12-col;
  grid-template-rows: minmax(max-content, 35vw) repeat(4, min-content);
  background-color: v.$color-white;
}

.home-why {
  grid-column: v.$fullGrid;
  display: grid;
  grid-template-columns: v.$grid-12-col;
  @include m.sectionPadVertical;
  background-color: v.$color-grey-lighter;

  &__container {
    grid-column: v.$centralGrid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: v.$col-gap-md;
  }
}

.home-options {
  grid-column: v.$fullGrid;
  display: grid;
  grid-template-columns: v.$grid-12-col;
  background-color: v.$color-grey-dark;
}
