@use "../abstracts/variables" as v;

.card {
  border-radius: .5rem;
  box-shadow: 0 0.5rem 1rem rgba(v.$color-grey-medium, .5);
  box-shadow: v.$shadow-light-w;

  &--lg {
    padding: 4rem;
  }

  &--dark-bg {
    box-shadow: v.$shadow-light-w;
  }
}
