@use "../abstracts/variables" as v;

.card {
  border-radius: .5rem;


  &--lg {
    padding: 4rem;
  }

  &--shadow-dark {
    box-shadow: 0 0.5rem 1rem rgba(v.$color-grey-medium, .5);
  }

  &--shadow-light {
    box-shadow: v.$shadow-light-w;
  }
}
