@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.features {
  &__list {
    display: grid;
    row-gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;

    // &--shine {
    //   position: relative;
    //   overflow: hidden;
    //   transition: all 0.3s;
    //
    //   &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: -80%;
    //     width: 100px;
    //     height: 100%;
    //     background-color: rgba(v.$color-primary-6, .3);
    //     transform: skewX(-30deg);
    //     transition: all 0.3s;
    //   }
    //
    //   &:hover {
    //     background-image: linear-gradient(to top right, rgba(v.$color-grey-medium, .2), rgba(v.$color-grey-medium, .6),);
    //     box-shadow: v.$shadow-light-w;
    //
    //     &::before {
    //       left: 160%;
    //     }
    //   }
    // }
  }

  &__title {
    font-size: 2.8rem;
    line-height: 1;
  }

  &__item {
    padding: 1rem 0;

    &--accent {
      padding: 0;
      font-size: 2.5rem;
      color: v.$color-primary-light;
    }

    &:not(:last-child) {
      border-bottom: 2px solid v.$color-primary-light;
    }
  }
}
