@use "../abstracts/variables" as v;

body {
  font-family: v.$font-primary;
  font-size: v.$default-font-size;
  color: v.$font-dark;
  font-weight: 500;

}

.heading-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
}

.heading-2 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.4;
}

.heading-3 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1px;
}

.hero-subheading {
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: 1px;
}

.text-light {
  color: v.$font-light;
}

.text-green {
  color: v.$font-dark;
}
