@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;


.title {
  background-color: v.$color-grey-dark;
  padding: 20rem 0 10rem;

  @include m.respond(bp-sm) {
    text-align: center;
  }

  &__content {

    @include m.respond(bp-sm) {
      text-align: center;
    }
  }

}

.description {
  @include m.padVertLg;

  &__fig--2 {

    @include m.respond(bp-md) {
      grid-row: 4 / 5;
    }
  }
}

.services {
  @include m.padVertLg;
  background-color: v.$color-primary-7;

  &__heading {
    text-align: center;
    color: v.$color-grey-dark;
  }

  &__item {
    background-color: v.$color-secondary-6;
   padding: 1.5rem;
   border: 1px solid v.$color-grey-medium;
   border-radius: .8rem;
   box-shadow: v.$shadow-light;
  }

  &__subheading {
    text-align: center;
    color: v.$color-primary-dark;
  }

  &__text {
    font-size: 1.6rem;
  }
}