@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.home-intro {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: v.$row-gap-md;
  @include m.padVertLg;

  @include m.respond(bp-md) {
    @include m.stackEm;
  }

  &__heading {
    grid-column: 1 / -1;
  }

  &__content {
    align-self: center;
    padding-right: 4vw;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: v.$row-gap-md;
  }

  &__block {
    grid-column: 1 / 2;
  }

  &__subheading {
    margin-bottom: 2rem;
  }

  &__subheading {
    padding-bottom: 1rem;
    border-bottom: 2px solid v.$color-primary-light;
    display: inline-block;
    justify-self: start;
  }

  &__btn {
    justify-self: start;

    @include m.respond(bp-md) {
      justify-self: center;
    }
  }

  &__gal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 10rem);

    @include m.respond(bp-md) {
      grid-template-rows: repeat(4, 15vw);
    }
  }

  &__fig {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: v.$imgShadow;

    &--1 {
      grid-column: 1 / -2;
      grid-row: 1 / -2;
    }

    &--2 {
      grid-column: 3 / -1;
      grid-row: 3 / -1;
    }
  }
}

.home-options {
  display: grid;
  background-color: v.$color-primary-dark;
  grid-column: v.$fullGrid;

  &__container {
    grid-column: v.$centralGrid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: v.$col-gap-sm;
    row-gap: v.$row-gap-md;
    @include m.padVertMd;

    @include m.respond(bp-lg) {
      grid-column: v.$fullGrid;
    }

    @include m.respond(bp-md) {
      grid-column: v.$centralGrid;
      @include m.stackEm;
    }

  }

  &__heading {
    grid-column: 1 / -1;
    padding: 2rem;
  }

    &__subheading {
      grid-column: 1 / -1;
      padding: 0 2rem;

      &--bottom {
        align-self: end;
      }
    }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 0 2rem;
  }

}

.features {
  &__list {
    display: grid;
    row-gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2.4vw 0;
  }

  &__title {
    font-size: 4rem;
    line-height: 1;
  }

  &__item {
    padding: 1.6rem 0;
    font-size: 2rem;

    &--accent {
      padding: 0;
      font-size: 2.5rem;
      color: v.$color-secondary-dark;
    }

    &:not(:last-child) {
      border-bottom: 2px solid v.$color-secondary-light;
    }
  }
}

.home-info {
  grid-column: v.$fullGrid;
  padding: 3.5rem;
  @include m.padVertLg;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: v.$col-gap-md;
  grid-template-rows: min-content min-content;
  row-gap: v.$row-gap-md;

  @include m.respond(bp-lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-column: v.$centralGrid;
  }

  @include m.respond(bp-md) {
    padding: 0;
    @include m.padVertLg;
  }

  @include m.respond(bp-sm) {
    @include m.stackEm;
  }

  &__heading {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__content {
    grid-column: 2 / -2;
    margin-top: 4vw;
    display: grid;
    row-gap: v.$row-gap-sm;

    @include m.respond(bp-lg) {
      grid-column: 1 / -1;
      margin-top: 2vw;
    }
  }
}

.home-why {
  display: grid;
  @include m.padVertMd;
  background-color: v.$color-primary-dark;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: v.$col-gap-lg;

    @include m.respond(bp-lg) {
      @include m.stackEm;
    }
  }
}

.home-cta {
  @include m.padVertMd;
  background-image: linear-gradient(to top right, rgba(v.$color-grey-dark, .85), rgba(v.$color-black-light, .8)), url(../img/hero-2.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  // grid-template-columns: v.$grid-12-col;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: v.$col-gap-md;
    row-gap: v.$col-gap-md;

    @include m.respond(bp-md) {
      grid-template-columns: 1fr;
      padding: 4vw;
    }
  }

  &__content {
    display: grid;
    row-gap: v.$row-gap-sm;
  }

  &__heading {
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.1;
    // margin-bottom: 4vw;
  }

  &__text {
    font-size: 2rem;
    font-weight: 300;
  }

  &__contact {
    // grid-column: 7 / -1;
    // grid-row: 2 / -1;
  }
}
