@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.home-intro {
  grid-column: v.$centralGrid;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: v.$row-gap-md;
  @include m.sectionPadVertical;

  &__heading {
    grid-column: 1 / -1;
  }

  &__content {
    align-self: center;
    padding-right: 4vw;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: v.$row-gap-sm;
  }

  &__block {
    grid-column: 1 / 2;
  }

  &__subheading {
    margin-bottom: 2rem;
  }

  &__subheading {
    padding-bottom: 1rem;
    border-bottom: 2px solid v.$color-primary-light;
    display: inline-block;
    justify-self: start;
  }

  &__text {}

  &__gal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 10rem);
  }

  &__fig {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: v.$imgShadow;

    &--1 {
      grid-column: 1 / -2;
      grid-row: 1 / -2;
    }

    &--2 {
      grid-column: 3 / -1;
      grid-row: 3 / -1;
    }
  }
}

.home-info {
  grid-column: v.$fullGrid;
  padding: 3.5rem;
  @include m.sectionPadVertical;
  background-image: linear-gradient(to top right, rgba(v.$color-grey-dark, .8), rgba(v.$color-grey-medium, .8)), url("../img/hero-3.jpg");
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: v.$col-gap-md;
  grid-template-rows: min-content min-content;
  row-gap: v.$row-gap-md;

  &__heading {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__card {
    padding: 3rem;
    // height: 30vh;
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: v.$row-gap-sm;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    &--1 {
      background-image: linear-gradient(rgba(v.$color-black-light, .8), rgba(v.$color-black-light, .8)), url("../img/card-1.jpg");
    }
  }

  &__img {
    position: relative;
    height: 100%;
  }

  &__subheading {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    z-index: 10;
  }

  &__text {
    font-wieght: 500;
    letter-spacing: 1px;
    z-index: 10;
  }
}

.why-list {
  background-color: v.$color-white;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: min-content;
  row-gap: v.$row-gap-sm;
  column-gap: v.$col-gap-sm;

  &__heading {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid v.$color-primary-light;
  }

  &__star {
    // margin-right: 5rem;
    font-size: 5rem;
    color: v.$color-secondary-light;
  }

  &__text {
    text-align:justify;
  }

  &__btn {
    grid-column: 2 / span 1;
    justify-self: start;

  }
}

.home-cta {
  grid-column: v.$fullGrid;
  @include m.sectionPadVertical;
  background-image: linear-gradient(to top right, rgba(v.$color-grey-dark, .85), rgba(v.$color-black-light, .8)), url(../img/hero-2.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: v.$grid-8-col;

  &__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: v.$col-gap-md;
    row-gap: v.$col-gap-md;
  }

  &__content {
    display: grid;
    row-gap: v.$row-gap-sm;
  }

  &__heading {
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.1;
    // margin-bottom: 4vw;
  }

  &__text {
    font-size: 2rem;
    font-weight: 300;
  }

  &__contact {
    // grid-column: 7 / -1;
    // grid-row: 2 / -1;
  }
}
